header {
  position: fixed;
  background-color: $color_white;
  width: $width_primary;


  .nav{
  @include my_display_flex;
  align-items: center;

  height: 90px;
  border-bottom: 1px solid $color_font;
  // margin: auto;
  }



  .logo{
    width: 150px;
  }
  .nav_menu li{
    padding-right: 20px;

  }
  .nav_menu a {
    color: $color_font;
    font-size: $size_font;
    font-weight: 500;
  }
  .btn {
    @include my_btn;
  }
  .btn img {
    width: 28px;
    vertical-align: middle;
  }
  .btn a {
    vertical-align: middle;
    color: $color_secondary;
  }

}
