.jumbotron {
  color: $color_font;
  @include my_display_flex;

  & .container {
    @include my_section_size;
    .teaser {
      @include my_float;
        & p {
          font-size: 27px;
          line-height: 1.5;
          padding-bottom: 40px;
        }
        

      }

    .illo {
      @include my_float;
    }
  }
}
