.jumbotron {
  height: 500px;
  width: $width_primary;
  margin: auto;
  color: $color_font;
  @include my_padding_section;


  .teaser {
    @include my_float;
    & h2 {
      font-size: 58px;
      line-height: 1.8;
    }
    & p {
      font-size: 27px;
      line-height: 1.5;
    }
    & button {
      @include my_btn;
    }
  }
  .illo {
    @include my_float;
  }
}
