@mixin my_nav_display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@mixin my_display_flex {
  display: flex;
  justify-content: center;

}
@mixin my_btn {
  border: $color_secondary;
  padding: 15px;
  border-radius: 10px;
  background: #5b70aa;
}
@mixin my_float {
  float:left;
  width: 50%;
}
@mixin my_section_size {
  padding: 80px 0;

}
@mixin my_container_80 {
  width: 80%;
}
@mixin font_color {
  color: $color_font;
}
@mixin my_padding_bottom {
  padding-bottom: 40px;
}
@mixin my_background_white {
  background-color: $color_white;
}
